@using SimulationDay6.ViewModels.Persons
@model PersonUpdateVM
<form method="post" enctype="multipart/form-data">
    <div>
        <a asp-action="Index">Go to List</a>
    </div>
    
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input class="form-control" asp-for="Name" placeholder="Enter name">
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageFile">Image</label>
        <input class="form-control" asp-for="ImageFile">
        <span asp-validation-for="ImageFile"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input class="form-control" asp-for="Description" placeholder="Enter Description">
        <span asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
        <label asp-for="PositionId">Position</label>
        <select class="form-select" asp-for="PositionId" asp-items='new SelectList(ViewBag.Position,"Id","Name") '></select>
        <span asp-validation-for="PositionId"></span>
    </div>
  

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

